.idea/
requirements_*[0-9].txt
req_problem.txt
py_env_2*.yml
#/py_env_*.json
#/py_env_*.txt
.DS_Store
.ipynb_checkpoints
__pycache__
old
*.cprof
*.png
#py_env_*_[0-1][0-9].sh
py_env_*.json.old
py_env_*_all.log
