#
# try to add them all !!
#
biopython
boost
brotlipy
certifi
click-plugins
cligj
colorcet
conllu
cssselect2
cudf
cugraph
cuml
cupy
cusignal
cuspatial
cuxfilter
cytoolz
dash-cytoscape
dash-renderer
dask-cuda
dask-xgboost
datashader
datashape
dlpack
faiss-cpu
fastavro
fastrlock
fiona
fire
flask-caching
fontconfig
gdal
geopandas
geos
geotiff
git-python
glib
glog
gunicorn
icu
imagecodecs-lite
importlib-metadata
importlib_metadata
krb5
msgpack-python
munch
nibabel
nilearn
nodejs
nvstrings
olefile
pandoc
panel
param
pathspec
pip
proj
pyct
pydata-sphinx-theme
pyee
pynvml
pyppeteer
pyproj
pyviz_comms
rapids
rapids-xgboost
re2
rmm
rouge-score
rtree
shapely
snappy
spdlog
