#https://docs.perceptilabs.com/perceptilabs/advanced/included-packages#perceptilabs-0.13-and-above

#Python Packages
#Version

#perceptilabs==0.13.4

amqp
analytics-python
asgiref
#
backoff
backports.cached-property
bcrypt
billiard
boltons
boto
celery
click-didyoumean
click-repl
curtsies
cwcwidth
Django
django-cors-headers
django-extensions
django-http-exceptions
django-model-utils
django-request-logging
djangorestframework
fastapi
ffmpy
Flask-CacheBuster
Flask-Cors
Flask-Login
flower
gradio
gym-unity
humanize
keras-unet-collection
keras2onnx
kombu
markdown2
mixpanel
mlagents-envs
monotonic
more-itertools
onnx
onnxconverter-common
paramiko
pycryptodome
pydub
starlette
tf2onnx
uamqp
uvicorn
vine
waitress
#
pyobjc
pyobjc-core
pyobjc-framework-Accounts
pyobjc-framework-AddressBook
pyobjc-framework-AdSupport
pyobjc-framework-AppleScriptKit
pyobjc-framework-AppleScriptObjC
pyobjc-framework-ApplicationServices
pyobjc-framework-Automator
pyobjc-framework-AVFoundation
pyobjc-framework-AVKit
pyobjc-framework-BusinessChat
pyobjc-framework-CalendarStore
pyobjc-framework-CFNetwork
pyobjc-framework-CloudKit
pyobjc-framework-Cocoa
pyobjc-framework-Collaboration
pyobjc-framework-ColorSync
pyobjc-framework-Contacts
pyobjc-framework-ContactsUI
pyobjc-framework-CoreAudio
pyobjc-framework-CoreAudioKit
pyobjc-framework-CoreBluetooth
pyobjc-framework-CoreData
pyobjc-framework-CoreLocation
pyobjc-framework-CoreMedia
pyobjc-framework-CoreMediaIO
pyobjc-framework-CoreMIDI
pyobjc-framework-CoreML
pyobjc-framework-CoreServices
pyobjc-framework-CoreSpotlight
pyobjc-framework-CoreText
pyobjc-framework-CoreWLAN
pyobjc-framework-CryptoTokenKit
pyobjc-framework-DictionaryServices
pyobjc-framework-DiscRecording
pyobjc-framework-DiscRecordingUI
pyobjc-framework-DiskArbitration
pyobjc-framework-DVDPlayback
pyobjc-framework-EventKit
pyobjc-framework-ExceptionHandling
pyobjc-framework-ExternalAccessory
pyobjc-framework-FinderSync
pyobjc-framework-FSEvents
pyobjc-framework-GameCenter
pyobjc-framework-GameController
pyobjc-framework-GameKit
pyobjc-framework-GameplayKit
pyobjc-framework-ImageCaptureCore
pyobjc-framework-IMServicePlugIn
pyobjc-framework-InputMethodKit
pyobjc-framework-InstallerPlugins
pyobjc-framework-InstantMessage
pyobjc-framework-Intents
pyobjc-framework-IOSurface
pyobjc-framework-iTunesLibrary
pyobjc-framework-LatentSemanticMapping
pyobjc-framework-LaunchServices
pyobjc-framework-libdispatch
pyobjc-framework-LocalAuthentication
pyobjc-framework-MapKit
pyobjc-framework-MediaAccessibility
pyobjc-framework-MediaLibrary
pyobjc-framework-MediaPlayer
pyobjc-framework-MediaToolbox
pyobjc-framework-Metal
pyobjc-framework-MetalKit
pyobjc-framework-MetalPerformanceShaders
pyobjc-framework-ModelIO
pyobjc-framework-MultipeerConnectivity
pyobjc-framework-NaturalLanguage
pyobjc-framework-NetFS
pyobjc-framework-Network
pyobjc-framework-NetworkExtension
pyobjc-framework-NotificationCenter
pyobjc-framework-OpenDirectory
pyobjc-framework-OSAKit
pyobjc-framework-Photos
pyobjc-framework-PhotosUI
pyobjc-framework-PreferencePanes
pyobjc-framework-Quartz
pyobjc-framework-SafariServices
pyobjc-framework-SceneKit
pyobjc-framework-ScreenSaver
pyobjc-framework-ScriptingBridge
pyobjc-framework-SearchKit
pyobjc-framework-Security
pyobjc-framework-SecurityFoundation
pyobjc-framework-SecurityInterface
pyobjc-framework-ServiceManagement
pyobjc-framework-Social
pyobjc-framework-SpriteKit
pyobjc-framework-StoreKit
pyobjc-framework-SyncServices
pyobjc-framework-SystemConfiguration
pyobjc-framework-UserNotifications
pyobjc-framework-VideoSubscriberAccount
pyobjc-framework-VideoToolbox
pyobjc-framework-Vision
pyobjc-framework-WebKit
#

